@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
body {
    font-family: 'Karla', sans-serif;
}
.App {
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    margin-top: 40vh;
}
.App > input {
    height: 40px;
    max-width: 500px;
    border: 5px solid black;
    font-size: 33px;
    padding: 0 10px;
    background: inherit;
    color: black;
}
.App > h1 {
    color: black;
    font-size: 40px;
    letter-spacing: 2px;
}
.App > h3 {
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
}
.App > h2 {
    color: black;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 4px;
}